[*]
charset=utf-8
end_of_line=lf
indent_style=space
indent_size=4
trim_trailing_whitespace = true
insert_final_newline = true

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=tab
tab_width=4

[{.eslintrc,.babelrc,.stylelintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2
